.App {
  text-align: center;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: #68b0ab;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin-left: 20px;
  padding: 0;
}

#tableContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

th {
  background-color: #696d7d;
  color: #fff;
  padding: 10px;
}

td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

tr:nth-child(odd) {
  background-color: #8fc0a9;
}

tr:nth-child(even) {
  background-color: #c8d5b9;
}

table a {
  color: #696d7d;
}

table a:visited {
  color: #fff;
}

table a:active {
  color: red;
}

#posts {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  padding: 0;
  text-align: left;
}

#postContainer a {
  display: block;
  text-align: left;
  margin-left: 20px;
  padding-top: 5px;
}

#postContainer h3 {
  color: #8fc0a9;
}